<hr>
<p>TJ is a Computer Science student at the University of South Florida. Loves to learn new things at 
lightening fast speeds. Considers himself to be a movie-buff that happens to also work on movies 
(as much as he can). A good bit of his free time is spent writing code, traveling, and being around the family.</p>
<nav id="menu" style="padding-top:0px;">
  <ul>
  	<li><a href="http://www.imdb.com/name/nm5299167/">IMDB</a></li>
    <li> | </li>
    <li><a href="http://www.instagram.com/tjmaynes">Instagram</a></li>
  </ul>
</nav>