<hr>
<article id="cinema">
	<div class="contents">
		<img src="/images/cinema.png">
		<div class="caption">
			<em>Chu and Blossom.</em>
		</div>
		<div class="left">
			<h2>Cinema.</h2>
			<p>I've loved movies since I could rewind 'Back to the Future' on a VCR (around age 4). It wasn't until I started skating and getting into skate videos did I start 
			thinking about doing working in that 'industry' for the rest of my life. With the help of some insightful movies, candid people, and Stanley Kubrick, I began my
			life long adventure in filmmaking at the age of 13. I believe that to "know" film one must know "photography" and for what can be done with the extent of one's own creative
			imagination is to inspire others to do the same. I couldn't be happier.
			</p>
		</div>
		<div class="right">
			<h2>Films</h2>
			<li>2012 - <em><a href="http://www.imdb.com/title/tt2339064/">Chu and Blossom</a></em> - A comedy directed by Gavin Kelly and Charles Chu. <span style="font-weight:bold;">Grip/Electric Intern</span></li>
			<br>
			<li>2012 - <em><a href="http://www.kickstarter.com/projects/738896900/the-edge-of-the-woods-0">Edge of the Woods</a></em> - A short-film directed Grainger David. <span style="font-weight:bold;">Walkie Talkie PA</span></li>
			<h2></h2>
		</div>
	</div>
</article>
<hr>