<div class="social-posts">
	<a href="http://twitter.com/intent/tweet?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;text={{ page.title | cgi_escape }}&amp;via=tjmaynes&amp;related=tjmaynes" target="_blank" title="Tweet" rel="nofollow"><img src="/images/thumbs/twitter.png"></a>
	<a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;t={{ page.title | cgi_escape }}" target="_blank" rel="nofollow" title="Share on Facebook"><img src="/images/thumbs/facebook.png"></a>
</div>