<div id="about">
    <p>Hello, my name is TJ Maynes! I'm a Software Engineer building apps at <a
        href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global
        Health</a> in New York City. My projects are
    hosted on <a href="https://www.github.com/tjmaynes/"
        target="_blank">github</a>, along with my <a href="/cv.pdf">CV</a> in pdf
    format. The easiest way to contact me is through my email: <a
        href="mailto:tjmaynes@gmail.com">tjmaynes at gmail dot com</a>. Also,
    you can find me on <a href="https://www.twitter.com/tjmaynes/"
        target="_blank">twitter</a>.</p>
</div>
