<nav style="padding-top:10px;">
  <ul>
    <li><a href="https://itunes.apple.com/us/app/juve/id1024629829">Juve</a></li> | 
    <li><a href="https://github.com/tjmaynes/ansp" target="_blank">ANSP</a></li> |
    <li><a href="https://github.com/tjmaynes/huebly" target="_blank">Huebly</a></li> |
    <li><a href="/projects/canny-bot">CannyBot</a></li> |
    <li><a href="https://github.com/tjmaynes/maze" target="_blank">Maze</a></li> |
    <li><a href="https://github.com/tjmaynes/CityWiki.rb" target="_blank">CityWiki.rb</a></li> |
    <li><a href="https://github.com/tjmaynes/echo" target="_blank">Echo</a></li> |
    <li><a href="https://github.com/tjmaynes/stockcs" target="_blank">StockCS</a></li> |
    <li><a href="/projects/stockjs">StockJS</a></li> |
    <li><a href="/projects/osl">Open Source Licenses and Copyright</a></li> | 
    <li><a href="https://gist.github.com/tjmaynes" target="_blank">Gists</a></li>
  </ul>
</nav>
