@font-face {
    font-family: 'Inconsolata';
    src: url('/font/Inconsolata-webfont.eot');
    src: url('/font/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/Inconsolata-webfont.woff') format('woff'),
    url('/font/Inconsolata-webfont.ttf') format('truetype'),
    url('/font/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding:0px;
    margin:0px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    padding:20px;
    font:14px/1.5 "Inconsolata", "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
    color:#777;
    font-weight:300;
    background:#fefefe;
}
h1, h2 {
    color:#444;
    line-height:1.1;
}
h1 {
    font-size:22px;
}
h2 {
    font-size: 18px;
    text-decoration:underline;
}
ol, ul{
    margin:0 0 10px;
}
p, table, pre, dl {
    margin:0 0 10px 0;
}
nav ul li {
    display: inline;
}
a {
    color:#222;
    font-weight:400;
    text-decoration:none;
}
a:hover {
    color:#222;
}
a small {
    font-size:11px;
    color:#777;
    margin-top:-0.6em;
    display:block;
}
a:hover small {
    color:#777;
}
p a, p a:hover{
	 color:#8B8878;
     }
blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}
code, pre {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color:#333;
    font-size:12px;
}
pre {
    padding:10px;
    background: #fbfbfb;
    line-height:1.42857;
    overflow: auto;
}
img {
    max-width:100%;
}
strong {
    color:#444;
    font-weight:700;
}
small {
    font-size:11px;
}
hr {
    border:0;
    background:#555;
    height:1px;
    margin:15px 0 15px;
}
section {
    margin:0 0 15px;
}
#about a {
    background: yellow;
}
#about p{
    margin:0 0 5px 0;
}
.post-header-info{
    font-size: 18pt;
    font-weight: 800;
    padding: 0px 0px 5px 0px;
}
.wrapper {
    max-width:500px;
    margin:0 auto;
}
#about img{
    margin-right:15px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkitbkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0,img 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-smallhadow: 0 0 8px rgba(0, 0, 0, .8);
}
#posts ol, #posts ul, #projects ol, #projects ul{
    margin:0;
}
#posts ul li, #projects ul li{
    display: block;
}
.author{
    font-style: italic;
    font-size: 10pt;
}
.post{
    padding:0 5px 0px 5px;
}
.post-content {
    padding:10px 0 10px 0;
}
.post-content h1, .post-content h2 {
    margin: 0 0 20px;
}
.post-content ul{
    list-style-type:circle;
    padding:0px 10px;
}
.post-content ol{
    list-style-type:decimal;
    padding:0px;
}
.post-content li{
    padding: 5px 0px;
    margin-left: 40px;
    margin-right: 40px;
}
.post-content p{
    line-height: 1.5;
    color: #444;
}
.post-content img{
    box-shadow: none;
    width: 100%;
    margin:5px 0px 10px 0px;
    -moz-box-shadow: 0 0 2px 2px #999;
    -webkit-box-shadow: 0 0 2px 2px #999;
    box-shadow: 0 0 2px 2px #999;
}
.post-content p a, #about a {
    background: yellow;
}
{% include pygment_trac.css %}
