<hr>
<div id="about">
  <a name="about">
    <img src="/img/profile.png" align="left">
    <p>I enjoy working on web and mobile development, hacking on random applications for fun, and going outdoors. I will be graduating from the University of South Florida in May 2015 with a <strong>Bachelor's of Science in Computer Science</strong> degree.</p>
    <p>During my senior year, I was the Team Leader on a <strong>Computer Vision</strong> project where our team and I developed a client/server video streaming application using <strong>C++</strong>, <strong>OpenCV</strong>, and <strong>OpenGL</strong>. Currently, I'm working on a few projects using <strong>C++</strong>, <strong>C#</strong>, <strong>C</strong>, and <strong>Python</strong>. Also, it's safe to assume that future projects are going to include building <strong>APIs</strong> and writing <strong>mobile</strong> applications.</p>
  </a>
</div>
