<div class="social">
  <a href="http://www.facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}&amp;t={{ post.title | cgi_escape }}"
     target="_blank"
     class="symbol"
     title="&#xe027;"
     rel="nofollow"></a>
  <a href="http://twitter.com/intent/tweet?url={{ site.url | cgi_escape }}{{ post.url | cgi_escape }}&amp;text={{ post.title | cgi_escape }}&amp;via=tjmaynes&amp;related=tjmaynes" 
     target="_blank"
     class="symbol"
     title="&#xe086;"
     rel="nofollow"></a>
</div>
