<div id="about">
  <img src="/img/profile.png" align="left" alt="TJ Maynes, profile picture"></img>
  <p>Hello, my name is TJ Maynes and I am a Software Engineer building apps at <a href="https://www.rejuvenan.com/" target="_blank">Rejuvenan Global Health</a> in New York City. I am primarily interested in iOS Development and ReactJS. Currently, I'm focused on growing as a software engineer, while learning some functional programming concepts where I can. My projects are hosted on <a href="https://www.github.com/tjmaynes/" target="_blank">github</a>, along with my <a href="/cv.pdf">CV</a> in pdf format. The easiest way to contact me is through my email: <a href="mailto:tjmaynes@gmail.com">tjmaynes at gmail dot com</a>. Also, you can find me on <a href="https://www.twitter.com/tjmaynes/" target="_blank">twitter</a>. Look below to see links to projects found on Github.</p>
  <br>
  {% include projects.html %}
</div>
