{% for post in paginator.posts %}
<section class="post">
  <div class="post-header">
    <div class="post-header-info">
      {% include header-post.html %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    </div>
    <span class="author">Written by <a href="https://www.twitter.com/tjmaynes"
        target="_blank">{{ site.author }}</a></span>
  </div>
  <div class="post-content">
    {{ post.content }}
    <article id="date">[{{ post.date | date: "%d %B %Y" }}]</article>
  </div>
</section>
{% endfor %}
