<nav class="projects">
  <ul>
    <li><a href="https://itunes.apple.com/us/app/juve/id1024629829" target="_blank">Juve</a> - the Official Rejuvenan iOS app.</li>
    <li><a href="https://github.com/tjmaynes/huebly" target="_blank">Huebly</a> - color picking iOS app.</li>
    <li><a href="https://github.com/tjmaynes/ansp" target="_blank">ANSP</a> - test the time complexity of various sorting algorithms.</li>
    <li><a href="/projects/canny-bot">CannyBot</a> - teaching NAO how to draw the shapes it "sees" using OpenCV.</li>
    <li><a href="/projects/stockjs">StockJS</a> - an interactive candlestick chart using Backbonejs, D3js, and Yahoo Query Language.</li>
    <li><a href="https://github.com/tjmaynes/maze" target="_blank">Maze</a> - finding the shortest path through a 3D maze using NetworkX.</li>
    <li><a href="https://github.com/tjmaynes/CityWiki" target="_blank">CityWiki</a> - getting data from Wikipedia and Weather API using Sinatra and Unirest.</li>
  </ul>
</nav>
