<section>
  <div class="circle">
    <img src="/img/me.jpg">
  </div>
  <p>TJ is a Computer Science undergraduate student at the University of South Florida. Loves to learn new things at lightening fast speeds. Considers himself to be a movie-buff that happens to also work on movies (as much as he can). A good bit of his free time is spent writing code, traveling, and being around the family. Here is a link to his <a href="https://github.com/TJMaynes/cv-resume/blob/master/resume.pdf?raw=true">resume</a>.</p>
{% include faqs.html %}
</section>
