<p class="question">What languages are you (currently) learning?</p>
<p>I'm working on a few school projects using C++, C#, and Python. Also, beginning to explore ASP.NET MVC and ReactJS.</p>
<p class="question">What are you most interested in?</p>
<p>Mobile applications, "real-time" web development, open source software, getting my startup off the ground, and project management.</p>
<p class="question">What do you enjoy doing in your free time?</p>
<p>I'm a huge movie buff (to say the least), but I also enjoy taking pictures, going outside (being inside all day is not fun), and traveling (mostly to areas with mountains and beaches).</p>
<p class="question">Favorite Directors? (in no particular order)</p>
<ul>
  <ol style="padding:5px 10px 0px;"><a href="http://www.imdb.com/name/nm0000040">Stanley Kubrick</a></ol>
  <ol style="padding:5px 10px 0px;"><a href="http://www.imdb.com/name/nm0000233">Quentin Tarantino</a></ol>
  <ol style="padding:5px 10px 0px;"><a href="http://www.imdb.com/name/nm0000118">John Carpenter</a></ol>
  <ol style="padding:5px 10px 0px;"><a href="http://www.imdb.com/name/nm0000186">David Lynch</a></ol>
  <ol style="padding:5px 10px 0px;"><a href="http://www.imdb.com/name/nm0181903">Panos Cosmatos</a></ol>
</ul>
