<p style="margin-top:10px;">TJ is a Computer Science student at the University of South Florida. Loves to learn new things at lightening fast speeds. Considers himself to be a movie-buff that happens to also work on movies (as much as he can). A good bit of his free time is spent writing code, traveling, and being around the family.</p>

<header>Other stuff about me:</header>

<nav id="menu" style="padding-top:10px; padding-bottom:0px;">
  <ul>
    <li><a href="http://www.tjmaynes.tumblr.com/">tumblr</a></li>
    <li> | </li>
    <li><a href="http://www.vimeo.com/tjmaynes">vimeo</a></li>
  </ul>
</nav>

<p> This is a list of my top ten favorite films to watch (in no particular order):
<br>
<a href="http://www.youtube.com/watch?v=dxduMVVnrvU">Friday</a> (Directed by F. Gray Gray)
<br>
<a href="http://www.youtube.com/watch?v=FqkWmUiTm3U">Let the Right One In</a> (Directed by Tomas Alfredson)
<br>
<a href="http://www.youtube.com/watch?v=pLRk4xG-JCI">Back to the Future</a> (Directed by Robert Zemeckis)
<br>
<a href="http://www.youtube.com/watch?v=xmoNT2pRP-s">A Clockwork Orange</a> (Directed by Stanley Kubrick)
<br>
<a href="http://www.youtube.com/watch?v=1N_HGEeyyrk">Pete's Dragon</a> (Directed by Don Chaffey)
<br>
<a href="http://www.youtube.com/watch?v=N6ywMnbef6Y">2001: A Space Odyssey</a> (Directed by Stanley Kubrick)
<br>
<a href="http://www.youtube.com/watch?v=jPcIy4DsFxU">Blue Velvet</a> (Directed by David Lynch)
<br>
<a href="http://www.youtube.com/watch?v=nWF0bBKhe6o">Beyond the Black Rainbow</a> (Directed by Panos Cosmatos)
<br>
<a href="http://www.youtube.com/watch?v=0kS7fp8SJP8">Emerica This is Skateboarding</a> (Directed by Jon Miner and Mike Manzoori)
<br>
I Don't Have A 10th Film (yet)
</p>
